<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css">
	<title>New Post</title>
</head>
<body>
	<div id="header">
		<h2>New blog post</h2>
	</div>
	<div class="container">
		<div id="nav">
		</div>
		<div id="content">
			<form method="post" action="/">
				<label>
					<h3>Title</h3>
					<input type="text" name="title" value={{title}}>
				</label>
				<br>
				<label>
					<h3>Content</h3>
					<textarea name="content">{{content}}</textarea>
				</label>
				<br>
				<input type="submit">
			</form>
		</div>
		<div id="footer">
		</div>
	</div>
</body>
</html>